{% extends "layouts/main.html" %}

{% set currentPage = "explore-categories" %}

{% block pageTitle %}
  Finance – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">Beta</strong>
          <span class="govuk-phase-banner__text">This is a new service. Help us improve it and <a class="govuk-link" href="#" target="_blank">give your feedback (opens in a new tab).</a></span>
      </p>
  </div>

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/index"
      },
      {
        text: "Explore categories",
        href: "/explore-categories"
      },
      {
        text: "Finance"
      }
    ]
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-l">Category</span>
      <h1 class="govuk-heading-l">Finance</h1>
      <p class="govuk-body-l">Your tasks for managing and reporting on your finances and accounts.</p> 
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <div class="explore-categories fullpage">
        <h2 class="govuk-heading-m">Explore all tasks and support</h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item explore govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#">
                Academy Trust Handbook updates
              </a>
              <div class="govuk-task-list__hint">
                <span class="govuk-body-s">Mandatory task</span>
              </div>
            </div>
          </li>
          <li class="govuk-task-list__item explore govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#">
                Accounts return
              </a>
              <div class="govuk-task-list__hint">
                <span class="govuk-body-s">Mandatory task</span>
              </div>
            </div>
          </li>
          <li class="govuk-task-list__item explore govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#">
                Audited financial statements
              </a>
              <div class="govuk-task-list__hint">
                <span class="govuk-body-s">Mandatory task</span>
              </div>
            </div>
          </li>
          <li class="govuk-task-list__item explore govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#">
                Budget forecast return (BFR)
              </a>
              <div class="govuk-task-list__hint">
                <span class="govuk-body-s">Mandatory task</span>
              </div>
            </div>
          </li>
          <li class="govuk-task-list__item explore govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#">
                Land and buildings collection tool (LBCT)
              </a>
              <div class="govuk-task-list__hint">
                <span class="govuk-body-s">Mandatory task</span>
              </div>
            </div>
          </li>
          <li class="govuk-task-list__item explore govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#">
                School census
              </a>
              <div class="govuk-task-list__hint">
                <span class="govuk-body-s">Mandatory task</span>
              </div>
            </div>
          </li>
          <li class="govuk-task-list__item explore govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#">
                School resource management self-assessment checklist (SRMSAC)
              </a>
              <div class="govuk-task-list__hint">
                <span class="govuk-body-s">Mandatory task</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Contact us
        </h2>
        <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Contact us for help
          </span>
        </summary>
        <div class="govuk-details__text">
          Contact us using the <a href="https://customerhelpportal.education.gov.uk/" target="_blank">customer help portal (opens in a new tab)</a>.
        </div>
      </details>
      </aside>
    </div>
  </main>
</div>

{% endblock %}
