{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block head %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
{% endblock %}

{% block header %}
    <header class="gem-c-layout-super-navigation-header">
        <div class="gem-c-layout-super-navigation-header__container govuk-clearfix">
            <div class="govuk-width-container transparent-bottom-border header-top">
                <!-- Logo -->
                <div class="gem-c-layout-super-navigation-header__header-logo">
                    <a class="govuk-header__link govuk-header__link--homepage" id="logo" href="/">
                    <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
                    </a>
                </div>
                <!-- Header right -->
                <div class="header-right">
                    <!-- <div class="header-links">
                        <div class="academy-info">
                            <span class="academy-name"><strong>Academy Name</strong>
                                <span class="location-static">Location</span>
                            </span>
                        </div>
                    </div> -->
                    <!-- Menu -->
                    <nav aria-labelledby="super-navigation-menu-heading" class="gem-c-layout-super-navigation-header__content govuk-!-display-none-print js-module-initialised" data-module="super-navigation-mega-menu" data-super-navigation-mega-menu-module-started="true">
                        <h2 id="super-navigation-menu-heading" class="govuk-visually-hidden"> Navigation menu </h2>
                        <div class="govuk-width-container gem-c-layout-super-navigation-header__button-width-container">
                            <div class="gem-c-layout-super-navigation-header__button-container">
                            <div class="gem-c-layout-super-navigation-header__navigation-item">
                                <button id="super-navigation-menu-toggle" aria-controls="super-navigation-menu" aria-expanded="false" aria-label="Show navigation menu" class="gem-c-layout-super-navigation-header__navigation-top-toggle-button" type="button">
                                <span class="gem-c-layout-super-navigation-header__navigation-top-toggle-button-inner">Academy Name
                                    <span class="location">Location</span>
                                </span>

                                </button>
                            </div>
                            </div>
                        </div>
                    </nav>
                    <!-- Search -->
                    <div class="gem-c-layout-super-navigation-header__search-item">
                    <button id="super-search-menu-toggle" class="gem-c-layout-super-navigation-header__search-toggle-button" aria-controls="super-search-menu" aria-expanded="false" aria-label="Show search menu" type="button">
                        <span class="govuk-visually-hidden">Search GOV.UK</span>
                        <svg class="gem-c-layout-super-navigation-header__search-toggle-button-link-icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                        <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                        <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
                        </svg>
                        <span aria-hidden="true" class="gem-c-layout-super-navigation-header__navigation-top-toggle-close-icon">×</span>
                    </button>
                    </div>
                    <!-- Sign out -->
                    <div class="header-links">
                        <a class="govuk-link" href="/sign-out">Sign out</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--MEGA MENU-->
    <div id="super-navigation-menu" class="gem-c-layout-super-navigation-header__navigation-dropdown-menu" hidden="hidden">
    <div class="govuk-width-container">
        <div class="govuk-grid-row gem-c-layout-super-navigation-header__navigation-items">
        <div class="govuk-grid-column-two-thirds-from-desktop gem-c-layout-super-navigation-header__column--services-and-information">
            <h3 class="govuk-heading-m gem-c-layout-super-navigation-header__column-header">Academy Name <span class="location">Location</span></h3>
            <ul class="gem-c-layout-super-navigation-header__navigation-second-items gem-c-layout-super-navigation-header__navigation-second-items--services-and-information">
            <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" href="../change-setting.html">Change your setting</a>
            </li>
            <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" href="#">Menu item</a>
            </li>
            <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" href="#">Menu item</a>
            </li>
            <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" href="#">Menu item</a>
            </li>
            <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" href="#">Menu item</a>
            </li>
            <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" href="#">Menu item</a>
            </li>
            <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" href="#">Menu item</a>
            </li>
            <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" href="#">Menu item</a>
            </li>
            <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" href="#">Menu item</a>
            </li>
            <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" href="#">Menu item</a>
            </li>
            </ul>
        </div>
        <div class="govuk-grid-column-one-third-from-desktop gem-c-layout-super-navigation-header__column--government-activity">
            <h3 class="govuk-heading-m gem-c-layout-super-navigation-header__column-header">DfE support</h3>
            <ul class="gem-c-layout-super-navigation-header__navigation-second-items gem-c-layout-super-navigation-header__navigation-second-items--government-activity">
            <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" href="https://customerhelpportal.education.gov.uk/">Customer help portal</a>
                <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Get help with DfE enquiries, complaints and general questions.</p>
            </li>
            </ul>
        </div>
        </div>
    </div>
    </div>
    <!-- SEARCH PANEL -->
    <div id="super-search-menu" class="gem-c-layout-super-navigation-header__navigation-dropdown-menu" hidden>
    <div class="govuk-width-container gem-c-layout-super-navigation-header__search-container gem-c-layout-super-navigation-header__search-items">
        <h3 class="govuk-visually-hidden">Search</h3>
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form class="gem-c-layout-super-navigation-header__search-form" id="search" action="/search/all" method="get" role="search" aria-label="Site-wide">
            <div class="gem-c-search govuk-!-display-none-print gem-c-search--large gem-c-search--on-white govuk-!-margin-bottom-0">
                <label for="search-main" class="govuk-label govuk-label--m gem-c-layout-super-navigation-header__search-label--large-navbar">Search DfE Connect</label>
                <div class="gem-c-search__item-wrapper">
                <input id="search-main" name="keywords" type="search" class="gem-c-search__input govuk-input" role="combobox">
                <div class="gem-c-search__item gem-c-search__submit-wrapper">
                    <button class="gem-c-search__submit gem-c-search__submit--icon-only" type="submit" aria-label="Search">
                    <span class="govuk-visually-hidden">Search</span>
                    <svg class="gem-c-search__icon" width="20" height="20" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                        <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="#ffffff" stroke-width="3"></circle>
                        <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="#ffffff" stroke-width="3"></line>
                    </svg>
                    </button>
                </div>
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>
    </div>

{{ govukServiceNavigation({
    serviceName: serviceName,
    serviceUrl: "/index",
    navigation: [
        {
            href: "/calendar-of-tasks",
            text: "Calendar of tasks",
            active: currentPage == "calendar-of-tasks"
        },
        {
            href: "/explore-categories",
            text: "Explore categories",
            active: currentPage == "explore-categories"
        },
        {
            href: "/support",
            text: "Support",
            active: currentPage == "support"
        }
    ]
})}}
{% endblock %}


{% block footer %}
  <section class="dfe-feedback">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="dfe-feedback-banner">
                    <div class="dfe-feedback-banner--content">
                        <div class="dfe-feedback-banner--flex">
                            <h2 class="govuk-heading-s">Tell us what you think of DfE Connect</h2>
                            <a href="https://digital-forms.education.gov.uk/7_RplP8Gef/give-feedback-on-dfe-connect" target="_blank" class="govuk-button">Give feedback (opens in a new tab)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  {{ govukFooter({
    meta: {
      items: footerItems,
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block scripts %}
    {{ super() }}
    <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}